{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="user-hello">
    
</div>
{{ room_name | json_script:"room-name"}}



{% block scripts %}
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const chatSocket = new WebSocket(
        'ws://'+
        window.location.host +
        '/ws/chat/'+
        roomName +
        '/'
    );
    chatSocket.onmessage = function(e){
        const data = JSON.parse(e.data);
        console.log(data)
        document.querySelector('#user-hello').innerHTML = (data.tester)
    }
</script>
{% endblock %}
{% endblock %}